<div>
    <span class="badge participation-state" [ngClass]="resolveState(opinion.state).className">
      {{resolveState(opinion.state).label}}
    </span> 
    <h4>{{opinion.title}}</h4>
    <div class="participation-item--meta">
      <span>{{opinion.author}}</span>
      <span>
        {{ getParticipants(opinion.participations) }} colombianos participando
      </span>
    </div>
</div>