/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

/** Participation Section **/
.participation-list {
    padding: 0;
    list-style-type: none;
    .participation-item {
        border-bottom: 1px solid #0048840d;
        padding: 12px 0px;
        h4 {
            color: #0B457F;
            font-size:16px;
            display: -webkit-box;
            display: flex;
            flex-basis: 100%;
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
        }
        .participation-state {
            padding: 6px 11px;
            min-width: 17em;
            text-align: left;
            font-size: 14px;
            color: #FFF;
            text-transform: uppercase;
            border-radius: 0;
            &.last-day {
                background: #F3561F;
            }
            &.active {
                background: #069169;
            }
            &.finished {
                background: #3772FF;
            }
        }
        &--meta {
            display: flex;
            justify-content: space-between;
            span {
                color: #0B457F;
            }
        }
    }
}
/** Participation Form **/
.participation-form {

    &.card {
        height: 100%;
        &.card.govco-card {
            border: 1px solid #3772FF;
        }
    }

    &--title {
        font-size: 33px;
        font-family: "Work Sans", sans-serif;
        color: #0B457F;
    }
    
    &--name {
        font-size: 20px;
        color: #0B457F;
        letter-spacing: -1px;
    }
    
    &--description {
        font-size: 14px;
        line-height: 1em;
        color: #0B457F;
    }

    &--panel {
        margin: 20px 0px;
        margin-bottom: 0;
    }

    &--action {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        button {
            border: 1px solid #3772FF;
            padding: 10px 50px;
            border-radius: 35px;
            text-transform: inherit;
            font-weight: 500;
        }
    }
    
    &--box {
        background: #E6EFFD;
        display: inline-block;
        width: 100%;
        min-height: 185px;
        border-radius: 12px;
        textarea {
            resize: none;
            width: 100%;
            height: 100%;
            border: none;
            background: transparent;
            padding: 10px;
            min-height: 145px;
            @include placeholder {
                font-family: 'Montserrat';
                color: #0B457F;
            }
        }
        .charterLimit {
            border-top: 1px solid #0B457F;
            display: flex;
            justify-content: flex-end;
            color: #0B457F;
            font-size: 14px;
            padding: 5px 7px;
        }
    }
}