<main role="main">
  <app-hero></app-hero>
  <div class="main-content">
    <div class="container card govco-card main-content--card">
      <section class="section mt-4" id="tramites-mas-usados">
        <app-diligencies-section></app-diligencies-section>
      </section>
      <section class="section" id="tu-opinion">
        <app-your-opinion-section></app-your-opinion-section>
      </section>
      <section class="section" id="informate">
        <app-inform-yourself-section></app-inform-yourself-section>
      </section>
    </div>
    <div class="container">
      <section class="section" id="otros-links">
        <app-other-links-section></app-other-links-section>
      </section>
    </div>
  </div>
</main>