<div class="row">
  <div class="col-xl-4 col-lg-6">
    <app-diligencies-list
        [diligencies]="diligencies$" 
        [layout]="'cards'"
        [featured]="true"
        [limit]="5"
    ></app-diligencies-list>
  </div>
  <div class="col-xl-8 col-lg-6">
    <div *ngIf="isLoading$ | async" class="page-loader d-flex justify-content-center align-items-center">
      <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
      <app-diligencies-list
          [diligencies]="diligencies$"
          [limit]="4"
      ></app-diligencies-list>
    <div class="diligencies-list--more">
      <a href="">
        Conocer Otros tramites
        <span class="govco-icon govco-icon-right-arrow "></span>
      </a>
    </div>
  </div>
</div>