  <div class="card govco-card other-links-item" itemscope itemtype="https://schema.org/NewsArticle">
      <div class="row">
        <div class="other-links-item--image col-3 col-sm-3 col-md-3 col-lg-3">
          <div>
            <img 
              itemprop="image" 
              class="card-img" 
              [src]="otherlink.imageUrl" 
              [alt]="otherlink.title" />
          </div>
        </div>
        <div class="other-links-item--side col-9 col-sm-9 col-md-9 col-lg-9">
          <div class="card-header govco-card-header other-links-item--header">
            <a [href]="otherlink.link" itemprop="url" >{{ otherlink.title }}</a>
          </div>
          <div class="card-body other-links-item--body">
            <p itemprop="description">{{ otherlink.excerpt }}</p>
          </div>
          <div class="card-footer govco-card-footer govco-center other-links-item--footer">
            <div class="diligencies-list--more">
              <a href="" itemprop="identifier">
                {{ otherlink.callToActionText }}
                <span class="govco-icon govco-icon-right-arrow "></span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>