<div class="row">
  <div class="col-xl-8 col-lg-6">
    <h3>Queremos conocer tu opinión</h3>
    <app-your-opinion-list 
      [youropinion]="yourOpinion$ | async">
    </app-your-opinion-list>
  </div>
  <div class="col-xl-4 col-lg-6">
    <app-your-opinion-form 
      [youropinion]="yourOpinion$"
      (onSubmitted)="onSubmittedOpinion($event)" 
      [charslimit]="255">
    </app-your-opinion-form>
  </div>
</div>