<div class="participation-form card govco-card">
    <div class="card-body">
        <div class="participation-form--title">
            Cuéntanos
        </div>    
        <div class="participation-form--name">
            {{ currentOpinionContext?.title }}
        </div>    
        <div class="participation-form--description">
            {{ currentOpinionContext?.description }}
        </div>    
        <div class="participation-form--panel">
            <form [formGroup]="participationForm" (ngSubmit)="onSubmit()">
                <div class="participation-form--box">
                    <textarea 
                        class="participation-form--content"
                        formControlName="textContent"
                        [maxlength]="charslimit"
                        placeholder="Escribe aquí tu opinión."
                    >
                    </textarea>
                    <div class="charterLimit">{{ 255 - textContent?.value?.length }}</div>
                </div>
                <div class="participation-form--action">
                    <button 
                    class="btn btn-round btn-middle"
                    [disabled]="!participationForm.get('textContent').valid"
                    >
                        Enviar mi opinión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
