/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

/** Search **/
.content-search {
    position: relative;
    z-index: 1;
}
.content-search input {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 50px;
    background: #fff;
    font-family: Work Sans,sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    color: rgba(75,75,75,.5);
    padding-left: 50px;
    border: unset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2rem;
    background-size: 35px 35px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.content-search--action {
    position: absolute;
    right: 0;
    z-index: 3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: unset;
    cursor: pointer;
    padding: unset;
    border: unset;
    margin: 1px 6px;
    border-radius: 50%;
    line-height: 3rem;
    background:transparent
}
.content-search {
    position: relative;
    max-width: 72%;
    margin: 0 auto;
    input {
        @include placeholder {
            font-family: 'Montserrat';
            color: #0B457F;
            font-weight: 200;
            letter-spacing: 0.03rem;
        }
    }
}

.main-hero {
    background-image:url('~src/assets/imgs/2nueva-bandera--agosto@2x.png');
    background-size: cover;
    min-height: 24rem;
    h1 {
        font-weight: lighter;
        font-size: 61px;
        color: #fff;
        margin: 9px 0;
    }
    .main-hero-subtitle {
        font-size: 30px;
        color: #fff;
        margin: 25px 0;
    }
}