<section class="main-hero jumbotron text-center">
    <div class="container">
      <h1>¡Te damos la bienvenida!</h1>
      <div class="content-search">
        <input type="text" placeholder="Encuentra aquí lo que buscas">
        <button class="content-search--action"><span class="govco-icon govco-icon-search-cn"></span></button>
      </div>
      <p class="main-hero-subtitle">Toda la oferta del Estado colombiano a tu alcance</p>
    </div>
</section>