<div class="information-list">
    <figure 
      class="information-item" 
      *ngFor="let item of data; trackBy:item"
      [ngClass]="{'information-item--lg': item.size === 'lg' }">
      <app-inform-yourself [item]="item"></app-inform-yourself>
    </figure>
</div>