/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

/** Information Section **/
.information-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information-item {
    width: 33%;
    position: relative;
    img {
        width: 100%;
        max-width: 100%;
    }
    &--lg {
        width: 66%;
    }
    figcaption {
        margin-left: 16px;
        margin-right: 16px;
        bottom: -7px;
        margin: auto;
        position: absolute;
        min-height: 120px;
        left: 25px;
        right: 25px;
        .card-body {
            time {
                color: #0B457F;
                width: 100%;
                display: flex;
                font-size: 14px;
                line-height: 16px;
                font-family: "Work Sans";
                margin-bottom: 10px;
            }
            .excerpt {
                color: #0B457F;
                line-height: 17px;
                display: inline-block;
            }
        }        
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}