/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

/** Tramites Section **/
.diligencies-list {
    padding-left: 0;
    list-style-type: none;

    /*
     * More link
    */
    &--more {
        span {
            font-size: 30px;
            color: #3772FF;
        }
        a {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    /*
     * Header
    */
    &--header {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 16px;
            color: #3772FF;
        }
        .govco-icon {
            font-size: 35px;
            line-height: 1px;
        }
    }

    /*
     * Single Layout
    */
    .tramite-item {
        border-bottom: 1px solid #0048840d;
        padding: 10px 0;
        &--title {
            color: #0B457F;
            display: flex;
            flex-basis: 100%;
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
        }
        &--author {
            color: #0B457F;
            font-family: Work Sans;
            font-weight: 400;
            font-size: 16px;
        }
        &--meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--available {
            color: #0B457F;
            min-width: 30%;
            span {
                color: #0B457F;
                font-size: 15px;
            }
            .available-online,
            .available-online span {
                color: #069169;
            }
        }
        &--with-cost {
            color: #004884;
            span {
                color: #3772FF;
                font-size: 18px;
            }
        }
        &--more a {
            color: #004884;
            text-decoration: underline;
            font-size: 14px;
        }
    }

    /*
     * Card Layout
     */
    &-cards {
        &.card.govco-card {
            border: 1px solid #3772FF;
        }
        height: 100%;
        .tramite-item {
            list-style-type: none;
            &--title {
                font-size: 33px;
                line-height: 39px;
                color: #0B457F;
                display: flex;
                width: 100%;
                letter-spacing: -1px;
            }
            &--author {
                color: #0B457F;
                font-family: Work Sans;
                font-weight: 400;
                font-size: 16px;
                margin: 28px 0;
                display: inline-block;
            }
            &--available {
                color: #0B457F;
                min-width: 30%;
                span {
                    color: #0B457F;
                    font-size: 15px;
                }
                .available-online,
                .available-online span {
                    color: #069169;
                }
            }
        }     
        .carousel {
            height: 100%;            
            .carousel-indicators {
                bottom: 26px;
                li {
                    background: #BABABA;
                    width: 20px;
                    height: 0 !important;
                    &.active {
                        background: #3772FF;
                    }
                }
            }
        }   
    }
    
}