<ng-container [ngSwitch]="layout">
  <ng-container *ngSwitchCase="'cards'">
    <div class="diligencies-list-cards card govco-card">
      <div class="card-body">
        <div class="diligencies-list--header">
          <span>Los tramites mas usados</span>
          <span class="govco-icon govco-icon-plus "></span>
        </div>
        <mdb-carousel [isControls]="true" [animation]="'slide'">
          <mdb-carousel-item *ngFor="let diligency of diligenciesFeatured | async; trackBy:item">
            <app-diligency [diligency]="diligency" [layout]="layout"></app-diligency>
          </mdb-carousel-item>
        </mdb-carousel>  
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ul class="diligencies-list">
      <ng-container *ngFor="let diligency of diligencies | async; trackBy:item">
        <app-diligency [diligency]="diligency" [layout]="layout"></app-diligency>
      </ng-container>
    </ul>
  </ng-container>
</ng-container>
