<img [src]="item.imageUrl">
<figcaption class="card govco-card">
    <div class="card-body">
        <time datetime="2008-02-14 20:00">{{ item.date }}</time>
        <span class="excerpt">{{ item.title }}</span>          
    </div>
</figcaption>