<app-header></app-header>
<router-outlet></router-outlet>
<footer class="app-footer" [ngClass]="{'footer-absolute': (isLoggedIn$ | async) || (isLoading$ | async)}">
  <app-footer></app-footer>
</footer>
