/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

.header-top {
    padding: 3px;
    background-color: theme-color("accent");
    p { 
        margin:0;
    }
    span {
        cursor: pointer;
        font-size: 16px;
    }
}
  