<div class="header-top" *ngIf="isVisible">
    <div class="container d-flex justify-content-between">
      <p>Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
      <span (click)="closeMessage()" class="govco-icon govco-icon-x-cn"></span>
    </div>
  </div>