<ul class="participation-list">
  <li *ngFor="let opinion of youropinion; trackBy:trackByFunction"
      class="participation-item">
      <app-your-opinion [opinion]="opinion"></app-your-opinion>
  </li>
</ul>
<div class="diligencies-list--more">
  <a href=""> 
    Conocer otros ejercicios de participación
    <span class="govco-icon govco-icon-right-arrow "></span>
  </a>
</div>