<header>  
	<app-cookies-message></app-cookies-message>
	<div class="navbar navbar-dark shadow-sm">
		<div class="container d-flex justify-content-md-between justify-content-center">
			<mdb-navbar-brand>
				<a title="Inicio" class="navbar-brand" routerLink="/">
					<img src="assets/imgs/logo.png" height="30" alt="">
				</a>
			</mdb-navbar-brand>
			<div class="nav-item-primary ml-auto mr-2">
				<div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
					<input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
						type="search"
						placeholder="Buscar "
						aria-label="Search"
						name="searchTerm"
						id="search-desktop"
					/>
					<span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
				</div>
				<div class="govco-side">
					<span class="govco-icon govco-icon-language-en-n lang-govco" (click)="changeLang()"></span>
					<span class="govco-login" role="button">
						<span class="govco-icon govco-icon-user-p"></span>
						<span class="govco-login-text">Iniciar sesión</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<nav class="menu-main">
		<ul>
			<li [ngClass]="{'active': activeMenu == 'tramites-mas-usados' }">
				<a title="Trámites Y Servicios" (click)="setActiveElement('tramites-mas-usados')">
					Trámites Y Servicios
				</a>
			</li>
			<li [ngClass]="{'active': activeMenu == 'tu-opinion' }">
				<a title="Participación" (click)="setActiveElement('tu-opinion')">
					Participación
				</a>
			</li>
			<li [ngClass]="{'active': activeMenu == 'informate' }">
				<a title="Entidades" (click)="setActiveElement('informate')">
					Entidades
				</a>
			</li>
			<li [ngClass]="{'active': activeMenu == 'otros-links' }">
				<a title="Noticias" (click)="setActiveElement('otros-links')">
					Noticias
				</a>
			</li>
		</ul>
	</nav>
</header>