/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

header {
  z-index: 0;
  position: relative;
}

.navbar-dark {
  background-color: theme-color("primary");
  .govco-icon {
    color: #FFF;
  }
}

.menu-main {
  background: #fff;
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    li {
      margin: 9px 23px;
      a {
        color: #0B457F;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
      }
      &.active {
        position: relative;
        transition: 0.5s;
        &:before {
          content: "";
          position: absolute;
          transition: 0.5s;
          background: #FFAB00;
          width: calc(100% + 30px);
          height: 7px;
          bottom: -9px;
          left: -14px;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.nav-item-primary {
  display: flex;
}

.govco-side {
  display: flex;
  & > span {
    margin: 0px 7px
  }
  .govco-login {
    cursor: pointer;
    display: flex;
    align-items: center;
    .govco-login-text {
      color: #fff;
      padding-left: 6px;
    }
  }
}

.form-search-bar {
  position: relative;
  .icon-search {
    position: absolute;
    right: 5px;
    z-index: 3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: unset;
    cursor: pointer;
    padding: unset;
    border: unset;
    margin: 1px 6px;
    border-radius: 50%;
    line-height: 3rem;
    background: transparent;
  }
  input {
    border-radius: 27px;
    border: 1px solid #fff;
    background: #3366cc;
    color: #ffff;
    @include placeholder {
      font-family: 'Montserrat';
      color: #FFF;
    }
  }
}