/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

.other-links-item {
    margin: 15px 0;
    padding: 20px;

    & &--header { 
        padding-top: 30px;
        color: #0B457F;
        padding: 0;
        a {
            font-size: 33px;
            text-align: left;
            font-family: Work Sans;
            letter-spacing: 0px;
            line-height: 35px;
            color: #0B457F;
            font-weight: 200;
        }
    }

    &--image {
        padding: 23px 0px 0px 22px;
        margin: 0;
        text-align: center;
        img {
            max-width: 80%;
        }
    }

    & &--side {
        padding-left: 0;
    }

    & &--body {
        padding: 0;
        margin: 12px 0 0;
        p {
            color: #0B457F;
            line-height: 19px;
            margin: 0;
        }
    }
    
    &--footer {
        padding: 0;
        display: flex;
        justify-content: flex-end !important;
        width: 100%;
        margin: 0;
    }

}