<div class="other-links-list">
  <div class="row">
    <ng-container *ngFor="let otherlink of otherlinks; trackBy:item">
      <div class="col-sm-12 col-md-12 col-lg-6 theme-0">
        <app-other-link [otherlink]="otherlink"></app-other-link>
      </div>
    </ng-container>
  </div>
</div>

