// + Typography
// -------
$font-path:             '../fonts/euclid/';
$font-name:             'euclid';
$font-filename:         'euclidcircularb-regular-webfont';
$font-filename-medium:  'euclidcircularb-medium-webfont';
$font-name-bold:        'euclidBold';
$font-filename-bold:    'euclidcircularb-bold-webfont';
$font-sanserif:         'Open Sans', sans-serif;
$font-icon-name:        'pobeda-icons';

// ++ Fonts weight
$f-weight-bold:     700;
$f-weight-medium:   600;
$f-weight-normal:   400;
$f-weight-light:    300;

// ++ Fonts size
$f-size-xxs:    10px;
$f-size-xs:     12px;
$f-size-sm:     14px;
$f-size:        16px;
$f-size-md-xxl: 18px;
$f-size-md-xl:  20px;
$f-size-md:     24px;
$f-size-lg:     28px;
$f-size-xlg:    34px;
$f-size-xlgx:   40px;
$f-size-xxlg:   48px;
$f-size-super:  60px;
$f-size-ultra:  74px;
//## icons size
$f-iconsize: 20px;
$f-iconsize-md: 36px;
$f-iconsize-lg: 48px;
$f-iconsize-xlg: 60px;
$f-iconsize-super: 70px;
