/** Import Base theme **/
@import '~src/assets/sass/styles';

/** Import Core Bootstrap and MD theme **/
@import '~node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~node_modules/angular-bootstrap-md/assets/scss/mdb';

.section {
    margin: 40px 0;
}

.page-loader {
    position: fixed;
    background: #FFF;
    top: 0;
    z-index: 99;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
}

.toast-card {
    div {
        color: #FFF;
    }
}