<li class="tramite-item" itemscope itemtype="https://schema.org/Event">
    <span class="tramite-item--title" itemprop="name">
      {{ diligency.title }}
    </span>
    <span class="tramite-item--author" itemprop="author">
      {{ diligency.author }}
    </span>
    <div class="tramite-item--meta">
      <div class="tramite-item--available">
        <ng-container *ngIf="diligency.availableOnLine; else personalDiligencyTemplate">
          <span class="available-online">
            <span class="govco-icon govco-icon-check-cn"></span>
            Disponible en línea
          </span>
        </ng-container>
        <ng-template #personalDiligencyTemplate>
          <span>
            Trámite presencial
          </span>
        </ng-template>
      </div>
      <div class="tramite-item--with-cost" *ngIf="layout !== 'cards'">
        <span class="govco-icon govco-icon-peso-col-cp"></span>
        <ng-container *ngIf="diligency.diligencyWithCost; else freeDiligencyTemplate">
          Tramite con costo
        </ng-container>
        <ng-template #freeDiligencyTemplate>
          Tramite Gratuito
        </ng-template>
      </div>
      <div class="tramite-item--more" *ngIf="layout !== 'cards'">
        <a href="">Ver todo el informe</a>
      </div>
    </div>
</li>